Body {
    background-color: #ececed;
}
h1 {
        margin-top: 10%;
        font-family: neue-haas-grotesk-display;
        font-size: 70px;
        text-align: center;
        font-weight: bold;
        
    }
