Body {
    background-color: #ececed;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap; 
    height: 2000px;
     
     
     
}
h1 {
        margin-left: 32%;
        margin-top:20%;
        font-family: neue-haas-grotesk-display;
        font-size: 70px;
        text-align: center;
        font-weight: bold;
       
       width: 30%;
       
        

        
        
    }

