.BodyCatalogo {

  height: 150px;
 margin-top: 10%;

}

h2  {

  margin-top: 15%;
  font-family: neue-haas-grotesk-display;
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  margin-left: 100px;


}
/*
.btn-1 {
        background-color:rgb(206, 97, 19);
        display: flex;
        
      
        margin-left: 20%;
        padding: 12px 12px;
      
        cursor: pointer;
        user-select: none;
        transition: all 150ms linear;
        text-align: center;
        white-space: nowrap;
        text-decoration: none !important;
        text-transform: none;
        text-transform: capitalize;
        color: rgb(222, 218, 218);
        border: 0 none;
        border-radius: 30px;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.3;
      
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;
       
        justify-content: center;
        align-items: center;
        flex: 0 0 160px;
        
        box-shadow: 2px 5px 10px var(--color-smoke);
        }
   
        .btn-1:hover {
          transition: all 150ms linear;
      
          opacity: .80;
        }
     
       .btn-1:active {
          transition: all 150ms linear;
          opacity: .75;
        }
    
        .btn-1 :focus {
          outline: 1px dotted #cc9b37;
          outline-offset: -4px;
        }
      
      */
      

     
      