h4  {

margin-top: 15%;
font-family: neue-haas-grotesk-display;
font-size: 70px;
text-align: center;
font-weight: bold;
text-align: right;
margin-right: 70px; 

} 

.BodyTitle {

margin-right: 50px;

}